<section class="partial">
   <section>
      <h2>What is Docker?</h2>

      <p class="fragment" data-fragment-index="1">
         A big whale with little boxes on it.
         <img src="/img/docker-monstro.png" alt=""/>
      </p>
   </section>
   <section>
      <h3>What is Docker?</h3>

      <p>
         Docker allows you to package an application with all of its dependencies into a standardized unit for software
         development.
      </p>
      <aside class="notes">
         <p>
            Docker containers wrap up a piece of software in a complete filesystem that contains everything it needs to
            run: code, runtime, system tools, system libraries – anything you can install on a server.
         </p>
      </aside>
   </section>
</section>
</section>