<section class="partial">
   <section>
      <h2>Running a container</h2>

      <p>
      </p>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>RUN Command</h3>

      <pre><code>$ docker run [OPTIONS] IMAGE[:TAG|@DIGEST] [COMMAND] [ARG...]</code></pre>

      <h4>Some options:</h4>

      <ul>
         <li>Detached (-d)</li>
         <li>Foreground (-a -t -i)</li>
         <li>Name (--name)</li>
         <li>Ports (-p)</li>
         <li>Volumes (-v)</li>
      </ul>

      <aside class="notes">
         <ul>
            <li>Detached vs foreground: When starting a Docker container, you must first decide if you want to run the
               container in the background in a “detached” mode or in the default foreground mode
            </li>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>RUN Command</h3>

      <p>
         Run a 'Hello World'
      </p>

      <pre><code>$ docker run busybox /bin/echo 'Hello world'
Hello world</code></pre>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Part 1 Exercise 1</h3>

      <ul>
         <li>Run an 'Hello world!'</li>
         <li>Use the 'uname -a' command to retrieve the container informations</li>
      </ul>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Solution</h3>

      <pre><code>$ docker run busybox /bin/echo 'Hello world'</code><code>Hello world</code></pre>

      <pre><code>$ docker run busybox /bin/uname -a</code><code>Linux b63e982a8593 4.1.13-boot2docker #1 SMP Fri Nov 20 19:05:50 UTC 2015 x86_64 GNU/Linux</code></pre>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>RUN Command</h3>
      <h4>Foreground Option</h4>

      <pre><code>-a=[] : Attach to `STDIN`, `STDOUT` and/or `STDERR`
-t : Allocate a pseudo-tty
-i : Keep STDIN open even if not attached</code></pre>

      <ul>
         <li>Without <code>-a</code>, Docker will attach all standard streams</li>
         <li>For interactive processes, you must use <code>-i -t</code> (or <code>-it</code>) together.</li>
         <li>
            Specifying -t is forbidden when the client standard output is redirected or piped:
            <pre><code>$ echo / | docker run -i busybox ls</code></pre>
         </li>
      </ul>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>PS Command</h3>

      <p>
         List containers <br><br>
         <small><code>-a, --all </code>  Show all containers (default shows just running)</small>
      </p>

      <pre><code>$ docker ps [OPTIONS]</code></pre>

      <p>
         Example
      </p>

      <pre><code data-trim>$ docker ps -a</code><code style="font-size: small" data-trim>CONTAINER ID        IMAGE               COMMAND             CREATED             STATUS                      PORTS               NAMES
33077589655c        alpine              "/bin/sh"           7 minutes ago       Exited (0) 28 seconds ago                       alpine-node</code></pre>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>START command</h3>

      <p>
         Start one or more containers
      </p>

      <pre><code>$ docker start [OPTIONS] CONTAINER [CONTAINER...]</code></pre>

      <p>
         Some options:
      </p>

      <pre><code>-a, --attach        Attach STDOUT/STDERR and forward signals
         -i, --interactive   Attach container's STDIN</code></pre>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>STOP command</h3>

      <p>
         Stop a container by sending SIGTERM and then SIGKILL after a
         grace period
      </p>

      <pre><code>$ docker stop [OPTIONS] CONTAINER [CONTAINER...]</code></pre>

      <p>
         Some options:
      </p>

      <pre><code>-t, --time=10      Seconds to wait for stop before killing it</code></pre>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>KILL command</h3>

      <p>
         Kill a running container using SIGKILL or a specified signal
      </p>

      <pre><code>$ docker kill [OPTIONS] CONTAINER [CONTAINER...]</code></pre>

      <p>
         Some options:
      </p>

      <pre><code>-s, --signal="KILL"    Signal to send to the container</code></pre>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Part 1 Exercice 2</h3>

      <ul>
         <li>
            Using Bash (<code>/bin/sh</code>) in interactive mode
         </li>
         <li>
            Run a 'Hello world' when in interactive mode
         </li>
      </ul>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Solution</h3>

      <pre><code>$ docker run -it busybox /bin/sh</code><code>/ #</code></pre>
      <pre><code>/ # echo 'Hello world'</code><code>Hello world</code></pre>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
</section>