<section class="partial">
   <section>
      <h2>References & link</h2>

      <ul>
         <li>Docker reference: <a href="https://docs.docker.com/engine/reference">docs.docker.com/engine/reference</a></li>
         <li></li>
         <li></li>
         <li></li>
         <li></li>
      </ul>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3></h3>

      <p>
      </p>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
</section>