<section class="partial">
   <section>
      <h2>References & link</h2>

      <ul>
         <li>Docker reference: <a href="https://docs.docker.com/engine/reference">docs.docker.com/engine/reference</a></li>
         <li>Compose reference: <a href="https://docs.docker.com/compose/compose-file/">docs.docker.com/compose/compose-file</a></li>
         <li>Docker Hub: <a href="https://hub.docker.com/">hub.docker.com</a></li>
      </ul>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Some commands</h3>

      <p>
         Clean images
      </p>

      <pre><code>$ docker images | grep '&lt;none>' | awk '{print $3}' | xargs docker rmi</code></pre>

      <p>
         Clean containers
      </p>

      <pre><code>$ docker ps -a | grep 'weeks ago' | awk '{print $1}' | xargs docker rm</code></pre>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
</section>