<section class="partial">
   <section>
      <h2>References & link</h2>

      <ul>
         <li>Docker reference: <a href="https://docs.docker.com/engine/reference">docs.docker.com/engine/reference</a></li>
         <li>Compose reference: <a href="https://docs.docker.com/compose/compose-file/">docs.docker.com/compose/compose-file</a></li>
         <li>Docker Hub: <a href="https://hub.docker.com/">hub.docker.com</a></li>
      </ul>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
</section>